*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    
    flex-wrap: wrap;
    height:700px;
    width:auto;
}
main{
    width: 300px;
    height: 200px;
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
p {
    width:15em;
    height:2em;
    margin:0.5em;
    font-family: "helvetica neue", helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid rgba(0, 0, 200, 0.6);
    background: rgba(0, 0, 200, 0.3);
    color: rgba(0, 0, 200, 0.6);
    box-shadow: 1px 1px 2px rgba(0, 0, 200, 0.4);
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor: pointer;
  }


button{
    width: 8rem;
    height: 3rem;
    background-color: cadetblue;
    color:white;
}